@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
.headerAllContainer {
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 70px;
}

.headerSmallContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 100%;
    margin: auto;
}

.leftSide{
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    height: 50%;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

#headerCoinImage {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    position: absolute;
}

.levelContainer h3 {
    color: white;
    font-size: 30px;
    font-weight: 500;
}

.moneyContainer {
    display: flex;
    align-items: center;
}
.moneyValue{
    background-color: aliceblue;
    padding: 5px 20px;
    border-radius: 30px;
    padding-left: 50px;
    font-size: 25px;
}

.energyContainer,
.rightSide{
    display: flex;
    align-items: center;
    background-color: aliceblue;
    border-radius: 30px;
    padding: 5px 15px;
    font-size: 25px;
    gap: 10px;
    cursor: pointer;
}

.energyContainer {
    color: white;
}

.energyContainer.green{
    background-color: green;
}

.energyContainer.yellow{
    background-color: yellow
}

.energyContainer.red{
    background-color: red;
}

#soccerImage {
    width: 40px;
    height: 40px;
}
#headerLogOutImage {
    width: 30px;
    height: 30px;
}