* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.formationContainer {
  width: 100%;
  height: calc(100vh - 170px);
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  align-items: normal;
  padding: 20px;
  margin: auto;
  background-image: url("../../Assets/Single/loginBackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  gap: 10px;
}
.formationContainer .lineContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  background-image: url("../../Assets/Single/greenField.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
}
.formationContainer .lineContainer > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.formationContainer .lineContainer .forward,
.formationContainer .lineContainer .midField,
.formationContainer .lineContainer .defence,
.formationContainer .lineContainer .goalKeeper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}
.formationContainer .lineContainer .player {
  width: 90px;
  height: 110px;
  background-color: antiquewhite;
  gap: 10px;
}
.formationContainer .formationBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 25%;
  justify-content: flex-start;
}
.formationContainer .formationBtn button {
  font-size: 18px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 100px;
  background-color: #fe453b;
  cursor: pointer;
}
.formationContainer .formationBtn button:hover {
  background-color: #ff2418;
}
.formationContainer .formationBtn button span {
  font-size: 15px;
  font-weight: 500;
}
.formationContainer .formationBtn .logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}
.formationContainer .formationBtn .logo .image {
  width: 20%;
}
.formationContainer .formationBtn .logo .image img {
  width: 100%;
}
.formationContainer .formationBtn .logo .scoreCard h1 {
  font-size: 25px;
  color: #89afc0;
}
.formationContainer .formationBtn .logo .scoreCard h2 {
  color: #a6a6a6;
}
.formationContainer .formationBtn .logo .scoreCard h2:first-child {
  font-size: 18px;
  color: #89afc0;
}
.formationContainer .formationBtn .logo .scoreCard span:first-child {
  font-size: 15px;
  color: #7ed957;
}
.formationContainer .formationBtn .logo .scoreCard span:nth-child(2) {
  font-size: 15px;
  color: #e20a17;
}
.formationContainer .formationBtn .logo .scoreCard span:nth-child(3) {
  font-size: 15px;
  color: #a6a6a6;
}
.formationContainer .playerList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 25%;
  border: none;
  background-color: rgba(70, 48, 111, 0.6196078431);
  border-radius: 50px;
  padding: 20px 30px;
  color: #176b87;
  margin-left: auto;
}
.formationContainer .playerList .player {
  color: #fff;
  border: none;
  border-radius: 50px;
  background-color: #6FA26C;
  padding: 5px 20px;
  text-align: center;
}
.formationContainer .playerList .player p:last-child {
  color: #000;
}

.soccerMarket {
  width: 100%;
  height: 100%;
}
.soccerMarket .marketAllContainer {
  color: aliceblue;
  background-image: url("../../Assets/Market/Default_soccer_stadium_view_full_of_crowd_night_time_ray_traci_0_d6bb2c97-38a0-444f-8a16-15375f76b1ba_1.jpg");
  height: calc(100vh - 170px);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.soccerMarket .marketAllContainer .marketSmallContainer {
  background-color: rgba(0, 0, 0, 0.608);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 90%;
  height: 90%;
  border-radius: 20px;
}
.soccerMarket .marketAllContainer .marketSmallContainer h1 {
  font-size: 50px;
}
.soccerMarket .marketAllContainer .marketSmallContainer .marketCardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
  justify-content: space-around;
}
.soccerMarket .marketAllContainer .marketSmallContainer .marketCardContainer .cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  height: 100%;
  overflow: hidden;
  gap: 20px;
}
.soccerMarket .marketAllContainer .marketSmallContainer .marketCardContainer .cardContainer h3 {
  font-size: 50px;
}
.soccerMarket .marketAllContainer .marketSmallContainer .marketCardContainer .cardContainer h5 {
  font-size: 20px;
}
.soccerMarket .marketAllContainer .marketSmallContainer .marketCardContainer .marketCardPrice {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  gap: 10px;
}
.soccerMarket .marketAllContainer .marketSmallContainer .marketCardContainer .marketCardPrice #marketCoinImage {
  width: 40px;
}
.soccerMarket .marketAllContainer .marketSmallContainer .marketCardContainer .casualUpperCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  max-width: 250px;
  width: 100%;
  height: 100%;
}
.soccerMarket .marketAllContainer .marketSmallContainer .marketCardContainer .casualUpperCard h3,
.soccerMarket .marketAllContainer .marketSmallContainer .marketCardContainer .casualUpperCard h5,
.soccerMarket .marketAllContainer .marketSmallContainer .marketCardContainer .casualUpperCard b {
  color: blue;
}
.soccerMarket .marketAllContainer .marketSmallContainer .marketCardContainer .casualUpperCard .marketCardPrice {
  cursor: pointer;
}
.soccerMarket .marketAllContainer .marketSmallContainer .marketCardContainer .casualUpperCard #cardImage {
  height: 60%;
  width: 90%;
  object-fit: cover;
  filter: blur(1px);
  transition: 1s ease;
  border: 2px solid blue;
  border-radius: 10px;
  cursor: pointer;
  background-image: url("../../Assets/Market/casual.jpg");
  background-position: center top;
  background-size: cover;
}
.soccerMarket .marketAllContainer .marketSmallContainer .marketCardContainer .casualUpperCard #cardImage:hover {
  filter: blur(0);
  transition: 2s ease;
  cursor: pointer;
  height: 100%;
  width: 100%;
}
.soccerMarket .marketAllContainer .marketSmallContainer .marketCardContainer .rareUpperCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  max-width: 250px;
  width: 100%;
  height: 100%;
}
.soccerMarket .marketAllContainer .marketSmallContainer .marketCardContainer .rareUpperCard h3,
.soccerMarket .marketAllContainer .marketSmallContainer .marketCardContainer .rareUpperCard h5,
.soccerMarket .marketAllContainer .marketSmallContainer .marketCardContainer .rareUpperCard b {
  color: yellow;
}
.soccerMarket .marketAllContainer .marketSmallContainer .marketCardContainer .rareUpperCard .marketCardPrice {
  cursor: pointer;
}
.soccerMarket .marketAllContainer .marketSmallContainer .marketCardContainer .rareUpperCard #cardImage {
  border: 2px solid yellow;
  border-radius: 10px;
  height: 60%;
  width: 90%;
  object-fit: cover;
  filter: blur(1px);
  transition: 1s ease;
  background-image: url("../../Assets/Market/rare.jpg");
  background-position: center top;
  background-size: cover;
  cursor: pointer;
}
.soccerMarket .marketAllContainer .marketSmallContainer .marketCardContainer .rareUpperCard #cardImage:hover {
  filter: blur(0);
  transition: 2s ease;
  cursor: pointer;
  height: 100%;
  width: 100%;
}
.soccerMarket .marketAllContainer .marketSmallContainer .marketCardContainer .legendUpperCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  max-width: 250px;
  width: 100%;
  height: 100%;
}
.soccerMarket .marketAllContainer .marketSmallContainer .marketCardContainer .legendUpperCard h3,
.soccerMarket .marketAllContainer .marketSmallContainer .marketCardContainer .legendUpperCard h5,
.soccerMarket .marketAllContainer .marketSmallContainer .marketCardContainer .legendUpperCard b {
  color: red;
}
.soccerMarket .marketAllContainer .marketSmallContainer .marketCardContainer .legendUpperCard .marketCardPrice {
  cursor: pointer;
}
.soccerMarket .marketAllContainer .marketSmallContainer .marketCardContainer .legendUpperCard #cardImage {
  height: 60%;
  width: 90%;
  object-fit: cover;
  filter: blur(1px);
  transition: 1s ease;
  border: 2px solid red;
  border-radius: 10px;
  background-image: url("../../Assets/Market/legend.jpg");
  background-position: center top;
  background-size: cover;
  cursor: pointer;
}
.soccerMarket .marketAllContainer .marketSmallContainer .marketCardContainer .legendUpperCard #cardImage:hover {
  filter: blur(0);
  transition: 2s ease;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
