.MainFooterComponent{
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100px;
}

.FooterButtonField{
    
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.FooterButtonField button {
    width: 20%;
    background-color: #000000ca;
    color: white;
    font-weight: 700;
    border-radius: 5%;
    font-size: 100%;
    position: relative;
    transition: 1.3s ease;
}

.FooterButtonField button:hover{
    transition: 0.7s ease;
    border: solid 2px #fff;
    box-shadow:
      inset 60px 0 120px #BB00FF,  /* left magenta */
      inset -60px 0 120px rgb(145, 13, 130); /* right cyan */
    cursor: pointer;
    text-shadow: 3px 4px 6px rgba(255, 255, 255, 1);
}

.FooterTwoSideButton{
    width: 20%;
    background-color:black;
    color: white;
    font-weight: 700;
    border-radius: 15%;
    font-size: 100%;
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.FooterTwoSideButton button{
    width: 50%;
    height: 100%;
    background-color: black;
    color: white;
    font-weight: 700;
    border-radius: 5%;
    font-size: 100%;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.FooterTwoSideButton img{
    height: 100%;
    width: 100%;
}

.FooterSocialField{
    display: flex;
    flex-direction: column;
    height: 50%;
}

.TopSideSocial{
    height: 50%;
    display: flex;
    flex-direction: row;
    width: 5%;
}
.FooterSocialField h5{
    color: white;
    margin-top: 10px;
    font-size: 10px;
}
.TopSideSocial img{
    height: 100%;
    width: 100%;
}