@mixin flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.formationContainer {
	width: 100%;
    height: 100%;
	@include flex;
	justify-content: flex-start;
	align-items: normal;
	padding: 20px;
	margin: auto;
	background-image: url('../../Assets/Single/loginBackground.png');
	background-position: center;
	object-fit: fill;
	gap: 10px;

	.lineContainer {
		height: 100%;
        width: 55%;
		@include flex;
		flex-direction: column;
		justify-content: flex-end;
		row-gap: 10px;
		padding: 10px;
		background-color: black;
		background-image: url('../../Assets/Single/greenField.png');
		background-position: center;
		object-fit: contain;
		height: 100%;

		.forward,
		.midField,
		.defence,
		.goalKeeper {
			@include flex();
			gap: 10px;
			margin-bottom: 10px;
           
		}

		.player {
			width: 70px;
			height: 90px;
			background-color: antiquewhite;
			gap: 10px;
		}
	}
	.formationBtn {
		@include flex();
		flex-direction: column;
		height: 100%;
        width: 15%;
		justify-content: flex-start;

		button {
			font-size: 18px;
			padding: 10px;
            margin-bottom: 10px;
            border-radius: 100px;
            border: 1px solid #fff;
            background-color: #192655;
            color: #DAFFFB;
            cursor: pointer;

            &:hover{
            background-color: #176B87;
            }

            span{
                font-size: 15px;
                font-weight: 500;
            }
		}
	}

    .playerList{
        border: 1px solid #fff;
        width: 30%;

        p{
        font-size: 18px;
        margin-bottom: 5px;
        color: #176B87;
        text-transform: capitalize;
        cursor: pointer;

        &:hover{
            color: aqua;
        }
        }
    }
}
