@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

.onlineAllContainer {
    font-family: Roboto;
    display: flex;
    background-image: url("../../../Assets/Online/onlinebackground.jpg");
    height: calc(100vh - 170px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.playContainer {
    background-color: rgba(2, 0, 0, 0.516);
    padding: 50px 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70%;
    width: 65%;
}

.playFriends {
    background-image: url("../../../Assets/Online/onlineWithFriend.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
    width: 40%;
    justify-content: end;
    align-items: center;
}

.playFriends input {
    border-radius: 10px;
    outline: 2px solid #FEBF00;
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e2e2e2;
    outline-offset: 3px;
    padding: 10px 1rem;
    transition: 0.25s;
    width: 100%;
}

.playFriends input:focus {
    outline-offset: 5px;
    background-color: #fff
}

.playRandom {
    background-image: url("../../../Assets/Online/onlineRandom.jpeg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
    width: 40%;
    justify-content: end;
    align-items: center;
}

.searchContainer{
    position: relative;
    width: 100%;
}

#PlayFriendButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    height: 100%;
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0 10px ;
    cursor: pointer;
}

#PlayFriendButton:hover,
#PlayRandomButton:hover {
    background-image: linear-gradient(92.88deg, #3a9965 9.16%, #2b886c 43.89%, #31a886 64.72%);
    box-shadow: rgba(63, 205, 101, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

#PlayRandomButton{
    width: 100%;
    height: 3rem;
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0 10px ;
    cursor: pointer;
}



.resultScreen {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    z-index: 2;
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: white;
    width: 60%;
    height: 60%;
    background-color: #dadddc;
    color: white;
    border-radius: 10px;
}

.resultScreen {
    font-size: 40px;
    position: absolute;
}

#winAlert,
#lostAlert,
#drawAlert {
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


#winAlert {
    background-image: url("../../../Assets/Single/Win.jpg");
}

#winAlert div,
#lostAlert div,
#drawAlert div {
    background-color: #212121e0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 80%;
    height: 80%;
    border-radius: 10px;
}

#lostAlert {
    background-image: url("../../../Assets/Single/lose.jpg");
}

#drawAlert {
    background-image: url("../../../Assets/Single/draw.jpg");
}

/* Add these styles to your Style.css file or equivalent */
.energyErrorPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #3f234d;
  }
  
  .energyErrorPopup p {
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .energyErrorPopup button {
    margin-top: 10px;
  }
  