.teamSelectAllContainer {
    display: flex;
    background-image: url("../../Assets/Market/Default_soccer_stadium_view_full_of_crowd_night_time_ray_traci_0_d6bb2c97-38a0-444f-8a16-15375f76b1ba_1.jpg");
    height: calc(100vh - 170px);
    background-size: 100% 110%;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mySwiper {
    width: 300px;
    justify-content: center;
}

.swiper-slide-active {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.teamSelectDiv h1 {
    color: white;
}

.teamSelectDiv {
    background-color: rgba(2, 0, 0, 0.516);
    border-radius: 10px;
    z-index: 1;
    ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 50px 20px;
    gap: 40px;
}

.ButtonClass {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.ButtonClass button {
    padding: 20px 50px;
    background-color: white;
    border-radius: 12px;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#GrayButton,
#GreenButton {
    background-image: linear-gradient(92.88deg, #3f234d 9.16%, #382b88 43.89%, #5131a8 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    width: 35%;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: 0px 0px 10px 0px white;

}

#GrayButton:hover {
    background-image: linear-gradient(92.88deg, #99553a 9.16%, rgb(136, 60, 43) 43.89%, #a83131 64.72%);
    box-shadow: rgba(205, 77, 63, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

#GreenButton:hover {
    background-image: linear-gradient(92.88deg, #3a9965 9.16%, #2b886c 43.89%, #31a886 64.72%);
    box-shadow: rgba(63, 205, 101, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

.leagueSwiperContainer {
    font-size: 30px;
    color: white;
    width: 600px;
    height: 70px;
    display: flex;
    align-items: center;
    font-weight: 600;
    background-image: linear-gradient(92.88deg, #312d2d 9.16%, #363535 43.89%, #3d383d 64.72%);
    border-radius: 100px;
    padding: 40px 20px;
    border: 2px solid #3f234d;
    box-shadow: 0px 0px 10px 0px white;
}

.leagueSwiperContainer .prev-button img:hover,
.leagueSwiperContainer .next-button img:hover {
    height: 70px;
}

.teamSwiperContainer .prev-button img:hover,
.teamSwiperContainer .next-button img:hover {
    height: 150px;
}

.leagueSwiperContainer img {
    height: 40px;
}

.teamSelectLogoLeague {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.teamSelectLogoTeam {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.teamSwiperContainer img {
    width: 200px;
}

.teamSwiperContainer {
    color: white;
    width: 900px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 40px;
}

.leagueSwiperContainer button,
.teamSwiperContainer button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.resultScreen {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    z-index: 2;
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: white;
    width: 50%;
    height: 50%;
    background-color: #dadddc;
    color: white;
    border-radius: 10px;
}

.resultScreen {
    font-size: 40px;
}

#winAlert{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}