
.teamSelectAllContainer {
    display: flex;
    background-image: url("../../Assets/Market/Default_soccer_stadium_view_full_of_crowd_night_time_ray_traci_0_d6bb2c97-38a0-444f-8a16-15375f76b1ba_1.jpg");
    height: 80vh;
    background-size: 100% 110%;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mySwiper{
    width: 300px;
    justify-content: center;
}
.swiper-slide-active{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.teamSelectDiv {
    background-color: rgba(2, 0, 0, 0.516);
    z-index: 10;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.leaugeTeamSelect{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}


.ButtonClass{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.ButtonClass button{
    padding: 20px 50px;
    background-color: white;
    border-radius: 12px;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
} e

#GrayButton{color: gray;}
#GreenButton{color: green;}



.leaugeSwiperContainer,
.teamSwiperContainer{
    color: white;
    width: 600px;
    display: flex;
    align-items: center;
}
.leaugeSwiperContainer img,
.teamSwiperContainer img{
    background-color: transparent
}