.infoContainer {
	height: calc(100vh - 170px);
	width: 100%;
	background-color: #101113;
	padding: 100px;
	display: flex;
}

.infoContainer .leftside {
	display: flex;
	flex-direction: column;
	width: 30%;
	background-color: black;
	height: 100%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 20px;
}

.infoContainer .leftside h1 {
	color: #fff;
	font-size: 20px;
	line-height: 35px;
	margin-bottom: 15px;
	margin-left: 20px;
    border-bottom: 1px solid #d9d9d9;
    cursor: pointer;
    padding-left: 5px;
}

.mactchList{
	color: white;
}

.infoContainer .leftside h1:not(.username h1):hover {
	color: #7969e9;
    border-color: #7969e9;
}

.infoContainer .leftside .username {
	height: 20%;
	padding: 20px;
}

.infoContainer .leftside .statsSection {
	height: 40%;
	padding: 20px;
}

.infoContainer .leftside .setttings {
	height: 30%;
	padding: 20px;
}

.infoContainer .leftside .help {
	height: 10%;
	padding: 20px;
}

.infoContainer .rightside {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	background-color: black;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 20px;
}

.infoContainer .rightside h1 {
	color: #7969e9;
	font-size: 20px;
	line-height: 35px;
}

.infoContainer .rightside .dashboard {
	height: 20%;
	padding: 20px;
}

.infoContainer .rightside .activePanel {
	height: 80%;
	padding: 0 0 20px 0;
	border: 1px solid #d9d9d9;
    border-radius: 50px;
}

.infoContainer .rightside .activePanel .historyInput span {
	color: #fff;
	font-size: 18px;
	line-height: 25px;
	margin-right: 15px;
}

.infoContainer .rightside .activePanel .historyInput {
margin: 40px 20px 0 40px;
align-items: center;
}


.infoContainer .rightside .activePanel .historyInput  button{
 padding: 10px 25px;
    color: #fff;
	font-size: 18px;
	line-height: 20px;
    border: none;
    border-radius: 100px;
    background-color: #975bce;
    cursor: pointer;
}

.infoContainer .rightside .activePanel .historyInput  button:hover{
    background-color: #8728e0;
}


.infoContainer .rightside .activePanel .historyInput input {
     width: 40%;
    padding: 10px 25px;
    color: #fff;
	font-size: 18px;
	line-height: 20px;
    border-radius: 100px;
    outline: none;
    background-color: #484848;
    border: none;
    margin-right: 20px;

}

.infoContainer .rightside .activePanel .statsPanel {
	display: flex;
	width: 100%;
}

.rightside .activePanel .statsPanel > div {
	width: 20%;
}

.rightside .activePanel .statsPanel > div > div {
	padding: 20px;
	text-align: center;
	border-right: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
}

.rightside .activePanel .statsPanel .total div{
	border-right: none;


}

.rightside .activePanel .statsPanel > div >h2{
	padding: 20px;
    color: #fff;
	font-size: 20px;
	line-height: 35px;
    text-align: center;
	border: 1px solid #d9d9d9;

}


.rightside .activePanel	.settingsPanel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

}

.rightside .activePanel	.settingsPanel span{
    padding: 20px;
    color: #fff;
	font-size: 18px;
	line-height: 35px;
    display: inline-flex;
    width: 20%;
    margin-left: 20px;
}

.rightside .activePanel	.settingsPanel input{
    width: 40%;
    padding: 10px 25px;
    color: #fff;
	font-size: 18px;
	line-height: 20px;
    border-radius: 100px;
    outline: none;
    background-color: #484848;
    border: none;
    margin-right: 20px;
}

.activePanel .settingsPanel .password button{
    padding: 10px 25px;
    color: #fff;
	font-size: 18px;
	line-height: 20px;
    border: none;
    border-radius: 100px;
    background-color: #975bce;
    cursor: pointer;
}

.activePanel .settingsPanel .password button:hover{
    background-color: #8728e0;
}

.block{
    display: flex ;
}

.none{
    display: none !important;
}