* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.soccerAllContainer {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../../../Assets/Login/loginBackground.png");
    background-repeat: no-repeat;
    background-size:fill;
    background-position:center;
}

.checkbox{
    display: flex;
    gap: 5px;
}

.userExceptionError{
    text-align: center;
    border: 1px solid;
    background-color: red;
    color: white;
    padding: 20px;
    max-width: 280px;
}

.soccerSmallContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.589);
    gap: 30px;
    padding: 40px;
    border-radius: 20px;
}

.soccerSmallContainer h1 {
    font-size: 40px;
    font-weight: 600;
    color: #370466;
    margin-bottom: 30px;
}

.logInInput {
    width: 100%;
    height: 40px;
    border-radius: 25px;
    padding: 10px;
    border: none;
    position: relative;
}


.logInInput::placeholder{
    color: #545B65;
}


.remindMe {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    color: #9611BD;
}

.forgottenPassword{
    color: #9611BD;
}
.logInButton{
    color: white;
    background-color: #370466;
    padding: 10px 100px;
    border-radius: 25px;
    border: none;
}

.registerText{
    color: #9611BD;
}