.landingAllContainer {
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/backgroundLanding.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.landingSmallContainer {
    color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 50px;
    padding: 50px 0 0px 100px;
}

.landingSmallContainer h1 {
    font-size: 100px;
}

.landingSmallContainer h2 {
    font-size: 40px;
}

.signUpContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.signUpContainer img {
height: 70px;
}

.loginContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}
.loginContainer img {
    color: white;
    height: 90px;
}

.landingLoginButton, .landingSignUpButton{
    background-image: linear-gradient(92.88deg, #434344 9.16%, #949393 43.89%, #707070 64.72%);
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: 0px 0px 10px 0px white;
    border-radius: 100px;
    border: 0;
    font-size: 30px;
}

.landingLoginButton:hover {
    background-image: linear-gradient(92.88deg, #3a9965 9.16%, #2b886c 43.89%, #31a886 64.72%);
    box-shadow: rgba(63, 205, 101, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

.landingSignUpButton:hover{
    background-image: linear-gradient(92.88deg, #99553a 9.16%, rgb(136, 60, 43) 43.89%, #a83131 64.72%);
    box-shadow: rgba(205, 77, 63, 0.5) 0 1px 30px;
    transition-duration: .1s;
}


#alreadyAccound {
    font-size: 30px;
    text-transform: capitalize;
}


.landingCreateYourTeam{
    font-size: 30px;
}